* 
{
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
}

body{
    margin: 0;
    padding-left: 0%;
}

.home 
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;

    
    /*background: #000000; 
   /* background: -webkit-linear-gradient(to right, #434343, #000000);  
   /* background: linear-gradient(to right, #434343, #000000); */
    
}


nav 
{
    margin-left: 20px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    

}

.logo   
{
    width: 200px;
    padding: 50px;
    margin-right: 1100px;

}



nav ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    margin: 10px 20px;
    margin-right: 20px;
    font-size: 18px;
    
    
    
}
nav ul li a
{
    padding: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}

nav ul li a:hover
{
    color: white;
    color:  rgb(36, 201, 36);
}

.headline
{
    margin-left: 8%;
    margin-top: 15%;

}

.headline h1
{
    font-size: 70px;
    margin-bottom: 10px;
    margin-left: 50px;
    
}

.headline p
{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 20px;
    margin-left: 50px;
    
    
}

/*.headline a
{
    font-size: 12px;
    padding-right: 10px;
    text-decoration: none;
    margin-right: 10px;
}*/

span
{
    color:rgb(36, 201, 36);
}

.socmed 
{
    
    display: flex;
    cursor: pointer;
    margin-left: 50px;
    
}
.socmed :hover
{
    transform: scale(0.1);
    background:rgb(36, 201, 36);
    transition: 2s;
}


.icon
{
    padding: 10px;
}

.me
{
    position: relative;
    margin-top: -505px;
    margin-left: 38vw;
    height: 85.3vh;
    width: 55vw;
    overflow: hidden;
    margin-bottom: 50px;
 
}
.me::before
{
    content: '';
    right: -30px;
    top: 30px;
    border: 5px solid green;
    height: 89vh;
    width: 55vw;
    
}


.me2
{
   /* margin-left: 5vw;
    margin-top: 5vh; */
   
    margin: 15vh 0 0 5vw;
    border: 5px solid gray;
    width: 350px;  
    height: 550px;

    

/*-------------------------------------about-------------------------------------------------- */
    
}
.about
{   
    margin-top: 43px;
    padding:  0;
    height:100vh;
    background: black;
    color: white;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abtpic
{
    margin-top: 150px;
    margin-left: 200px;
    width: 400px;  
    height: 600px;  
    border-radius: 20px;
    border: 4px solid rgb(23, 145, 23);
}

.col1
{
    flex-basis: 35%;

}

.col2
{
    margin-top: 30px;
    flex-basis: 60%;
}

.subtitle
{
    margin-top: 180px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}

p
{
    padding-bottom: 40px;
    text-align: justify;
    font-size: 20px;
    padding-right: 170px;
}
.tabtitles
{
    display: flex;
    margin: 5px;
    

    
}
.tablelinks
{
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    
}

.tablelinks::after
{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(36, 201, 36);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}

.tablelinks.activelink::after 
{
    width: 35%;
}

.tabcontents ul li
{
    list-style: none;
    margin: 20px 0;
}

.tabcontents
{
    display: none;
    font-size: 17px;
    line-height: 28px;
}

.tabcontents span
{
    font-size: 16px;
}

.tabcontents.activetab
{
    display: block;
}

/*-------------------------------------service-------------------------------------------------- */

#service
{
    padding: 0;
    height: 100vh;
    background: white;
    color: black;
}

.servicelist
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 80px;
    margin-top: 150px;
    margin-right: 180px;
    margin-left: 200px;
    color: white;
}
.sub2
{   
    padding-top: 100px;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    text-decoration: none;
    
}

.servicelist div
{
    font-size: 15px;
    background: #262626;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    transition: background 0.5s, transform  0.5s ;
    
}

.servicelist div i
{
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.servicelist div a
{
    text-decoration: none;
    color: white;
    margin-top: 30px;
    display: inline-block;
}

.servicelist div:hover
{
    background:rgb(36, 201, 36);
    transform: translateY(-20px);
}

p
{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 17px;
   
}

/*-------------------------------------contact-------------------------------------------------- */
#contact
{
    padding: 200px;
    height: 70vh;
    color: white;
    background: black;
    scroll-behavior: smooth;
    
}
h5{
    margin-top: 300px;
    padding-top: 40px;
}
.contme
{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}

.contleft
{
    flex-basis: 35%;
}

.contright
{
    flex-basis: 60%;
}

.contleft p
{   
    
    height: 20px;
    margin-top: 30px;
    font-size: 25px;
}
.contleft p i
{
    color:rgb(36, 201, 36);
    margin-right: 15px;
    font-size: 25px;
}
.socicon
{
    margin-top: 30px;
}
.socicon a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.socicon a:hover
{
    color:rgb(36, 201, 36);
    transform: translateY(-5px);
}
.btn.btn2
{   
    padding: 14px 60px;
    margin-left: 50px;
    margin-right: 50%;
    margin-top: 40px;
    font-size: 20px;
    display: inherit;
    border-radius: 6px;
    border: 1px solid rgb(36, 201, 36);
    color:white ;
    background:#262626 ;
    cursor: pointer;
    text-decoration: none;

}

.contright form
{
    margin-top: 30px;
    width: 130%;
    margin-left: 30px;
}

form input, form textarea
{   

    width: 50%;
    border: 0;
    outline: 20px;
    background: #262626;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    resize: none;
}
